/* Delete link image */
.delete {
    color: #ee5f5b;
}
/* Edit link image */
.edit {
    color: #000;
}
/* Headings */
h1 {
    font-size: 180%;
}
/* Main action buttons */
.buttonbar {
    padding-bottom: 0.5em;
}
#presets-dropdown {
     padding-top: 0.5em;
}
#presets-dropdown button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}
.buttonbar a, .buttonbar input, .buttonbar div button {
    font-size: 15px;
}
