{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %} 3COMMAS DCA Bot Analyzer {% endblock %}</h1>
    <p>
        Plot and compare 3COMMAS DCA bot behavior. Based on a base order prize of 100, the drop of the average prize is
        shown and different settings can be compared. For a given deviation on the X axes, lower values are better.
    </p>
    <p>
        To learn more about trading bots, I recommend the
        <a href="https://www.youtube.com/playlist?list=PLrg3atPq_Q_k09DZB42U4zsITuJgyd7qq">videos of TradeAlts</a> and
        join his <a href="discord.gg/BCz3mVw">Discord</a>, where these configurations have been developed by him
        and many members.
    </p>
    <p>
        Created because the common spreadsheets only display the average price per safety order, but a
        proper interpretation can only be done on a linear deviation scale.
    </p>
    <p>
        I am a Linux System Adminstrator and Engineer, and hobby programmer.
    </p>
    <p>
        Source code is published on <a href="https://gitlab.com/BenGTO/3c-grapher" target="_blank">Gitlab</a> under
        the MIT license.
    </p>
    <p>
        If you want to leave a tip, here is a XRP address (minimal fees):
    </p>
    <dl>
        <dt>
            Address:
        </dt>
        <dd>
            r9W43TLGwcRChnHaQPoSBUMWe9CbQXeMrr
        </dd>
        <dt>
            Destination tag:
        </dt>
        <dd>
            164478326
        </dd>
    </dl>
</div>
{% endblock %}
