{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div title="{{ form.name.description }}" class="col-md-4">
                {{ form.name.label }}
                {{ form.name(class_="form-control") }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div title="{{ form.mstc.description }}" class="col-md-4">
                {{ form.mstc.label }}
                {{ form.mstc(class_="form-control") }}
                {% for error in form.mstc.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div title="{{ form.bo.description }}" class="col-md-4">
                {{ form.bo.label }}
                {{ form.bo(class_="form-control") }}
                {% for error in form.bo.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div title="{{ form.so.description }}" class="col-md-4">
                {{ form.so.label }}
                {{ form.so(class_="form-control") }}
                {% for error in form.so.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div title="{{ form.sos.description }}" class="col-md-4">
                {{ form.sos.label }}
                {{ form.sos(class_="form-control") }}
                {% for error in form.sos.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div title="{{ form.os.description }}" class="col-md-4">
                {{ form.os.label }}
                {{ form.os(class_="form-control") }}
                {% for error in form.os.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div title="{{ form.ss.description }}" class="col-md-4">
                {{ form.ss.label }}
                {{ form.ss(class_="form-control") }}
                {% for error in form.ss.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4 buttonbar">
                {{ form.submit(class_="btn btn-primary btn-lg") }}
                <a class="btn btn-primary btn-lg" href="/">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
