{% extends 'base.html' %}
{% block title %} 3COMMAS DCA Bot Analyzer {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1 buttonbar">
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-primary btn-lg" href="/add">Add bot</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="dropdown" id="presets-dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Presets
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for bot in presets %}
                            <li><a href='/add?name={{bot.name}}&bo={{bot.bo}}&so={{bot.so}}&sos={{bot.sos}}&bo={{bot.bo}}&mstc={{bot.mstc}}&os={{bot.os}}&ss={{bot.ss}}'>{{bot.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Bot name</th>
                    <th>BO</th>
                    <th>SO</th>
                    <th>SOS</th>
                    <th>OS</th>
                    <th>SS</th>
                    <th>MSTC</th>
                    <th>Prize</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for bot in bots %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bot.name }}</td>
                    <td>{{ bot.bo }}</td>
                    <td>{{ bot.so }}</td>
                    <td>{{ bot.sos }}</td>
                    <td>{{ bot.os }}</td>
                    <td>{{ bot.ss }}</td>
                    <td>{{ bot.mstc }}</td>
                    <td>{{ bot.prize() }}</td>
                    <td><a title="Edit bot settings" href="/{{ loop.index-1 }}/edit"><i class="glyphicon glyphicon-pencil edit"></i></a></td>
                    <td><a title="Delete bot" href="/{{ loop.index-1 }}/delete"><i class="glyphicon glyphicon-trash delete"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
{{ plot_left|safe }}
{{ plot_right|safe }}
</div>
{% endblock %}
